<% provide(:title, 'Sign up') %> 

<!DOCTYPE html> 
<html> 
	<body>
		<div class="center hero-unit"> 
		<h1><%= yield(:title) %></h1> 
		<h2>  
		</h2>
		<p>Find me in app/views/users/new.html.erb</p>
		</div>
	</body>
</html>