<% provide(:title, @user.name) %> 
<div class="row"> 
	<aside class="span4"> 
		<section> 
			<li>
				<%= gravatar_for @user  %> 
				<h1><%= @user.name %></h1>
				<%= @user.email %>
			</li>
		</section>
	</aside>
</div>

